.Doctor {
    position: absolute;
    top: 90px;
    left: 960px;
    width: 380px;
    margin: 0;
    opacity: 1;
    z-index: 2;
}


.Article #Head-text {
    color: rgba(24, 83, 150, 1);
    position: absolute;
    left: 180px;
    top: 140px;
    font-size: 30px;
}

.Article #Body-text {
    color: rgba(0, 0, 204, 1);
    position: absolute;
    left: 180px;
    top: 150px;
    font-size: 60px;
    font-weight: bold;
}

.Article #Service-text {
    display: inline-block;
    color: white;
    padding: 13px 30px;
    border-radius: 40px;
    background-color: rgba(18, 0, 119, 0.5);
    position: absolute;
    left: 180px;
    top: 360px;
    font-size: 15px;
    transition: 0.2s;
    z-index: 2;
}

.Article #Service-text:hover {
    background-color:rgba(18, 0, 119, 0.8);
}

.Links-container {
    display: inline-flex;       
    gap: 25px;           
    position: absolute;  
    top: 460px;
    left: 180px;
    z-index: 2;
}

.Link-logo {
    display: inline-flex;
    position: relative;
    left: -10px;
    width: 60px;               
    height: 60px;
}

.Link1 {
    background-color: rgba(145, 134, 205, 1);
    padding: 20px 25px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: inline-flex; 
    text-align: left;
    transition: 0.2s;
}

.Link1 span {
    margin-top: 10px;   
}

.Link2 {
    background-color: rgba(81, 64, 175, 1);
    padding: 20px 25px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: inline-flex; 
    text-align: left;
    transition: 0.2s;
}

.Link2 span {
    margin-top: 10px;   
}

.Link3 {
    background-color: rgba(7, 78, 144, 1);
    padding: 20px 25px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: inline-flex; 
    text-align: left;
    transition: 0.2s;
}

.Link3 span {
    margin-top: 10px;   
}

.Link1:hover {
    background-color:rgba(18, 0, 119, 0.8);
}

.Link2:hover {
    background-color:rgba(18, 0, 119, 0.8);
}

.Link3:hover {
    background-color:rgba(18, 0, 119, 0.8);
}


